<%- include("header"); -%>


    <h2 style="text-align: center; padding-top: 10%;">this is the about me page</h2>
    <p style="text-align: center; width: 75%; margin: auto;">test test test test test test test test test test test test test test test test test test test test test test 
        test test test test test test test test test test test test test test test test test test test test test test 
        test test test test test test test test test test test test test test test test test test test test test test 
        test test test test test test test test test test test test test test test test test test test test test test 
        test test test test test test test test test test test test test
    </p>


<%- include("footer"); -%>